<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ACR.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.124986089606894 0.000229733369466261 0.214864205020596"
        rpy="0 0 0" />
      <mass
        value="3.33140071696163" />
      <inertia
        ixx="0.0256001044665979"
        ixy="7.38546287149675E-06"
        ixz="2.63141818804686E-05"
        iyy="0.0366159503206184"
        iyz="-1.22986396589462E-06"
        izz="0.0214481365109499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0256002596623806 9.3636602832023E-06 0.348206966999271"
        rpy="0 0 0" />
      <mass
        value="0.712357589393977" />
      <inertia
        ixx="0.00443457165430712"
        ixy="9.32785969270467E-08"
        ixz="0.000358658503024282"
        iyy="0.00382118748926758"
        iyz="1.55245150457055E-07"
        izz="0.00121327273058299" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.2"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.004389 -0.003162 -0.026864"
        rpy="0 0 0" />
      <mass
        value="1.845" />
      <inertia
        ixx="0.000689419822017408"
        ixy="3.36395180205499E-07"
        ixz="-9.2574319960314E-05"
        iyy="0.00089943577932933"
        iyz="-6.07612841469116E-07"
        izz="0.000436462783954031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.57801"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.179972 -0.000006 0.014147"
        rpy="0 0 0" />
      <mass
        value="1.368" />
      <inertia
        ixx="0.0013365988084767"
        ixy="-3.61608736923524E-08"
        ixz="-5.65075595189451E-05"
        iyy="0.0111601864009197"
        iyz="6.83641462642652E-11"
        izz="0.0100754382695275" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.002841 0.025458 -0.004340"
        rpy="0 0 0" />
      <mass
        value="1.541" />
      <inertia
        ixx="0.000539242016873679"
        ixy="-7.99412478874306E-05"
        ixz="5.27234953353222E-07"
        iyy="0.000379063361508113"
        iyz="-1.38252360996569E-06"
        izz="0.000681692505979834" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.38 0 0"
      rpy="0 0 3.14159" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.001503 0.0021572 -0.014073"
        rpy="0 0 0" />
      <mass
        value="0.573" />
      <inertia
        ixx="9.65982368830838E-05"
        ixy="-7.12692023426226E-08"
        ixz="-7.77435135808436E-08"
        iyy="0.000201565821329605"
        iyz="7.5653801267832E-08"
        izz="0.000163693589935886" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.341176470588235 0.858823529411765 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.17375 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.000066 0.055953 -0.02088"
        rpy="0 0 0" />
      <mass
        value="0.589" />
      <inertia
        ixx="0.000107002186795548"
        ixy="-9.22491395999787E-08"
        ixz="-7.7215701713127E-08"
        iyy="8.98347627970234E-05"
        iyz="-2.39424529276981E-05"
        izz="0.00010335446509972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 -0.106 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-0.00076 -0.018043 -0.11864"
        rpy="0 0 0" />
      <mass
        value="0.541" />
      <inertia
        ixx="0.000204533269940067"
        ixy="-4.8536016168685E-07"
        ixz="1.85431614205777E-07"
        iyy="0.00015870199453027"
        iyz="-7.91675009497548E-06"
        izz="0.000227694352968266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ACR.SLDASM/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="revolute">
    <origin
      xyz="0 -0.115 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3"
      upper="3"
      effort="0"
      velocity="0" />
  </joint>
  <link name="ee_link">

  </link>

  <joint name="link_7_to_ee" type="fixed">
    <parent link="link_7"/>
    <child  link="ee_link"/>

    <origin xyz="0 0 0" rpy="3.1415926 0 0"/>
  </joint>
</robot>