<?xml version='1.0' encoding='utf-8'?>
<robot name="aviator_collision">
  <link name="aircraft">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
    <collision name="aircraft_collision_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/aircraft_collision_0_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="aircraft_collision_1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/aircraft_collision_1_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="aircraft_collision_2">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/aircraft_collision_2_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="aircraft_collision_0" />
      <convex name="aircraft_collision_1" />
      <convex name="aircraft_collision_2" />
    </collision_checking>
  </link>
  <link name="dummy_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="1e-6" />
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
    </inertial>
  </link>
  <link name="steering_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <collision name="steering_wheel_collision_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_0_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_1_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_2">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_2_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_3">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_3_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_4">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_4_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_5">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_5_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_6">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_6_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_7">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_7_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_8">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_8_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_9">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_9_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_10">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_10_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_11">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_11_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_12">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_12_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_13">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_13_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_14">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_14_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_15">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_15_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_16">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_16_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_17">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_17_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_18">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_18_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_19">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_19_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_20">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_20_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_21">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_21_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_22">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_22_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_23">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_23_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_24">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_24_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_25">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_25_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_26">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_26_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_27">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_27_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_28">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_28_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_29">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_29_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_30">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_30_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_31">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_31_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_32">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_32_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_33">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_33_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_34">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_34_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_35">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_35_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_36">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_36_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_37">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_37_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_38">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_38_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_39">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_39_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_40">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_40_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_41">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_41_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_42">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_42_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_43">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_43_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision name="steering_wheel_collision_44">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/steering_wheel_collision_44_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="steering_wheel_collision_0" />
      <convex name="steering_wheel_collision_1" />
      <convex name="steering_wheel_collision_2" />
      <convex name="steering_wheel_collision_3" />
      <convex name="steering_wheel_collision_4" />
      <convex name="steering_wheel_collision_5" />
      <convex name="steering_wheel_collision_6" />
      <convex name="steering_wheel_collision_7" />
      <convex name="steering_wheel_collision_8" />
      <convex name="steering_wheel_collision_9" />
      <convex name="steering_wheel_collision_10" />
      <convex name="steering_wheel_collision_11" />
      <convex name="steering_wheel_collision_12" />
      <convex name="steering_wheel_collision_13" />
      <convex name="steering_wheel_collision_14" />
      <convex name="steering_wheel_collision_15" />
      <convex name="steering_wheel_collision_16" />
      <convex name="steering_wheel_collision_17" />
      <convex name="steering_wheel_collision_18" />
      <convex name="steering_wheel_collision_19" />
      <convex name="steering_wheel_collision_20" />
      <convex name="steering_wheel_collision_21" />
      <convex name="steering_wheel_collision_22" />
      <convex name="steering_wheel_collision_23" />
      <convex name="steering_wheel_collision_24" />
      <convex name="steering_wheel_collision_25" />
      <convex name="steering_wheel_collision_26" />
      <convex name="steering_wheel_collision_27" />
      <convex name="steering_wheel_collision_28" />
      <convex name="steering_wheel_collision_29" />
      <convex name="steering_wheel_collision_30" />
      <convex name="steering_wheel_collision_31" />
      <convex name="steering_wheel_collision_32" />
      <convex name="steering_wheel_collision_33" />
      <convex name="steering_wheel_collision_34" />
      <convex name="steering_wheel_collision_35" />
      <convex name="steering_wheel_collision_36" />
      <convex name="steering_wheel_collision_37" />
      <convex name="steering_wheel_collision_38" />
      <convex name="steering_wheel_collision_39" />
      <convex name="steering_wheel_collision_40" />
      <convex name="steering_wheel_collision_41" />
      <convex name="steering_wheel_collision_42" />
      <convex name="steering_wheel_collision_43" />
      <convex name="steering_wheel_collision_44" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_base">
    <collision name="AR5-5_07L-W4C4A2_base">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_base_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_base" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link1">
    <inertial>
      <mass value="2.683" />
      <inertia ixx="0.00493673" ixy="0.00000160" ixz="0.00000198" iyy="0.00452344" iyz="-0.00000020" izz="0.00432910" />
      <origin rpy="0 0 0" xyz="1e-06 -0.000621 0.167909" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link1_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link1" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link2">
    <inertial>
      <mass value="2.3" />
      <inertia ixx="0.01151906" ixy="0.00000246" ixz="-0.00000055" iyy="0.00993335" iyz="0.00082477" izz="0.00435237" />
      <origin rpy="0 0 0" xyz="-2e-05 -0.003081 0.10298600000000001" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link2">
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link2_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link2" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link3">
    <inertial>
      <mass value="1.862" />
      <inertia ixx="0.00519681" ixy="0.00001208" ixz="0.00035761" iyy="0.00470446" iyz="0.00003430" izz="0.00266752" />
      <origin rpy="0 0 0" xyz="0.007097 -0.0006590000000000001 -0.016530999999999997" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link3">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link3_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link3" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link4">
    <inertial>
      <mass value="1.234" />
      <inertia ixx="0.00389590" ixy="-0.00004577" ixz="-0.00017280" iyy="0.00308657" iyz="0.00046679" izz="0.00188364" />
      <origin rpy="0 0 0" xyz="-0.007826 -0.004207 0.073404" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link4">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link4_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link4" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link5">
    <inertial>
      <mass value="1.329" />
      <inertia ixx="0.00281562" ixy="0.00001782" ixz="0.00001650" iyy="0.00221084" iyz="0.00002100" izz="0.00182169" />
      <origin rpy="0 0 0" xyz="0.00028399999999999996 0.0016510000000000001 -0.084133" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link5">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link5_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link5" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link6">
    <inertial>
      <mass value="0.93" />
      <inertia ixx="0.00072078" ixy="-0.00000217" ixz="0.00000108" iyy="0.00085153" iyz="0.00000048" izz="0.00090205" />
      <origin rpy="0 0 0" xyz="0.005405999999999999 0.000612 -3.9e-05" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link6">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link6_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link6" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_link7">
    <inertial>
      <mass value="0.33" />
      <inertia ixx="0.00051942" ixy="-0.00000052" ixz="0.00003721" iyy="0.00079132" iyz="0.00000265" izz="0.00045886" />
      <origin rpy="0 0 0" xyz="-0.00277 0.000316 0.054881" />
    </inertial>
    <collision name="AR5-5_07L-W4C4A2_link7">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07L-W4C4A2_link7_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07L-W4C4A2_link7" />
    </collision_checking>
  </link>
  <link name="AR5-5_07L-W4C4A2_flan_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <collision name="left_tool_mount">
      <origin xyz="0 0 0.032" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.008" length="0.064" />
      </geometry>
    </collision>
    <collision name="left_grasp_cylinder">
      <origin xyz="0 0 0.1" rpy="3.14159265359 1.57079632679 3.14159265359" />
      <geometry>
        <cylinder radius="0.028" length="0.06" />
      </geometry>
    </collision>
    <collision_checking>
      <capsule name="left_tool_mount" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_base">
    <collision name="AR5-5_07R-W4C4A2_base">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_base_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_base" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link1">
    <inertial>
      <mass value="2.683" />
      <inertia ixx="0.00493673" ixy="0.00000160" ixz="-0.00000198" iyy="0.00452344" iyz="0.00000020" izz="0.00432910" />
      <origin rpy="0 0 0" xyz="-1e-06 0.000621 0.167909" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link1">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link1_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link1" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link2">
    <inertial>
      <mass value="2.3" />
      <inertia ixx="0.01151906" ixy="0.00000246" ixz="0.00000055" iyy="0.00993335" iyz="-0.00082477" izz="0.00435237" />
      <origin rpy="0 0 0" xyz="2e-05 0.003081 0.10298600000000001" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link2">
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link2_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link2" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link3">
    <inertial>
      <mass value="1.862" />
      <inertia ixx="0.00519617" ixy="-0.00001270" ixz="0.00035675" iyy="0.00470378" iyz="-0.00003329" izz="0.00266768" />
      <origin rpy="0 0 0" xyz="0.007089000000000001 0.000655 -0.016514" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link3">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link3_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link3" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link4">
    <inertial>
      <mass value="1.234" />
      <inertia ixx="0.00389593" ixy="0.00004675" ixz="-0.00016955" iyy="0.00308688" iyz="-0.00046659" izz="0.00188378" />
      <origin rpy="0 0 0" xyz="-0.007832 0.004208999999999999 0.073402" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link4">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link4_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link4" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link5">
    <inertial>
      <mass value="1.328" />
      <inertia ixx="0.00284294" ixy="-0.00001276" ixz="0.00001949" iyy="0.00221035" iyz="-0.00002134" izz="0.00185120" />
      <origin rpy="0 0 0" xyz="0.000268 -0.0014750000000000002 -0.084143" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link5">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link5_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link5" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link6">
    <inertial>
      <mass value="0.93" />
      <inertia ixx="0.00072274" ixy="0.00000186" ixz="-0.00000123" iyy="0.00087867" iyz="0.00000057" izz="0.00092938" />
      <origin rpy="0 0 0" xyz="0.0051719999999999995 -0.000614 5.5e-05" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link6">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link6_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link6" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_link7">
    <inertial>
      <mass value="0.332" />
      <inertia ixx="0.00052121" ixy="0.00000020" ixz="0.00003808" iyy="0.00079394" iyz="0.00000098" izz="0.00045990" />
      <origin rpy="0 0 0" xyz="-0.002716 3.1e-05 0.054983" />
    </inertial>
    <collision name="AR5-5_07R-W4C4A2_link7">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://aviator_meshes/AR5-5_07R-W4C4A2_link7_ch.stl" scale="1 1 1" />
      </geometry>
    </collision>
    <collision_checking>
      <convex name="AR5-5_07R-W4C4A2_link7" />
    </collision_checking>
  </link>
  <link name="AR5-5_07R-W4C4A2_flan_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <collision name="right_tool_mount">
      <origin xyz="0 0 0.032" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.008" length="0.064" />
      </geometry>
    </collision>
    <collision name="right_grasp_cylinder">
      <origin xyz="0 0 0.1" rpy="3.14159265359 1.57079632679 3.14159265359" />
      <geometry>
        <cylinder radius="0.028" length="0.06" />
      </geometry>
    </collision>
    <collision_checking>
      <capsule name="right_tool_mount" />
    </collision_checking>
  </link>
  <joint name="roll_input_joint" type="revolute">
    <parent link="aircraft" />
    <child link="dummy_link" />
    <origin xyz="0 0 0" rpy="1.5707 0 -1.5707" />
    <axis xyz="0 0 1" />
    <limit lower="-0.87266" upper="0.87266" effort="10.0" velocity="1.0" />
  </joint>
  <joint name="pitch_input_joint" type="prismatic">
    <parent link="dummy_link" />
    <child link="steering_wheel" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.170" upper="0" effort="10.0" velocity="1.0" />
  </joint>
  <joint name="left_arm_base" type="fixed">
    <parent link="aircraft" />
    <child link="AR5-5_07L-W4C4A2_base" />
    <origin xyz="-0.91333 0.008 0.12156" rpy="-1.5707 -0.1745329 0" />
  </joint>
  <joint name="right_arm_base" type="fixed">
    <parent link="aircraft" />
    <child link="AR5-5_07R-W4C4A2_base" />
    <origin xyz="-0.91333 0.008 0.12156" rpy="1.5707 -0.1745329 0" />
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_1" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_base" />
    <child link="AR5-5_07L-W4C4A2_link1" />
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.0543261909900763" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    <hardware id="0" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="3.0543261909900763" acc="10" jerk="150" effort="108" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_2" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link1" />
    <child link="AR5-5_07L-W4C4A2_link2" />
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.0543261909900763" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745" />
    <hardware id="1" type="driver">
      <limit lower="-2.0944" upper="2.0944" vel="3.0543261909900763" acc="10" jerk="150" effort="108" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_3" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link2" />
    <child link="AR5-5_07L-W4C4A2_link3" />
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314" />
    <hardware id="2" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="4.71238898038469" acc="10" jerk="150" effort="66" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_4" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link3" />
    <child link="AR5-5_07L-W4C4A2_link4" />
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0105 0.0 0.0" />
    <hardware id="3" type="driver">
      <limit lower="-1.0472" upper="2.5307" vel="5.235987755982989" acc="10" jerk="150" effort="66" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_5" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link4" />
    <child link="AR5-5_07L-W4C4A2_link5" />
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="-0.0105 0.0 0.272" />
    <hardware id="4" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_6" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link5" />
    <child link="AR5-5_07L-W4C4A2_link6" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="0 1 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
    <hardware id="5" type="driver">
      <limit lower="-1.0472" upper="1.0472" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_joint_7" type="revolute">
    <parent link="AR5-5_07L-W4C4A2_link6" />
    <child link="AR5-5_07L-W4C4A2_link7" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="1 0 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
    <hardware id="6" type="driver">
      <limit lower="-1.0472" upper="1.0472" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07L-W4C4A2_flan_joint" type="fixed">
    <parent link="AR5-5_07L-W4C4A2_link7" />
    <child link="AR5-5_07L-W4C4A2_flan_link" />
    <origin rpy="0 0 0" xyz="0 0 0.097" />
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_1" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_base" />
    <child link="AR5-5_07R-W4C4A2_link1" />
    <limit effort="108" lower="-3.1067" upper="3.1067" velocity="3.0543261909900763" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    <hardware id="7" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="3.0543261909900763" acc="10" jerk="150" effort="108" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_2" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link1" />
    <child link="AR5-5_07R-W4C4A2_link2" />
    <limit effort="108" lower="-2.0944" upper="2.0944" velocity="3.0543261909900763" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.1745" />
    <hardware id="8" type="driver">
      <limit lower="-2.0944" upper="2.0944" vel="3.0543261909900763" acc="10" jerk="150" effort="108" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_3" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link2" />
    <child link="AR5-5_07R-W4C4A2_link3" />
    <limit effort="66" lower="-3.1067" upper="3.1067" velocity="4.71238898038469" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="0.0 0.0 0.314" />
    <hardware id="9" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="4.71238898038469" acc="10" jerk="150" effort="66" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_4" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link3" />
    <child link="AR5-5_07R-W4C4A2_link4" />
    <limit effort="66" lower="-1.0472" upper="2.5307" velocity="5.235987755982989" />
    <axis xyz="0 1 0" />
    <origin rpy="0 0 0" xyz="0.0105 0.0 0.0" />
    <hardware id="10" type="driver">
      <limit lower="-1.0472" upper="2.5307" vel="5.235987755982989" acc="10" jerk="150" effort="66" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_5" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link4" />
    <child link="AR5-5_07R-W4C4A2_link5" />
    <limit effort="19" lower="-3.1067" upper="3.1067" velocity="4.1887902047863905" />
    <axis xyz="0 0 1" />
    <origin rpy="0 0 0" xyz="-0.0105 0.0 0.272" />
    <hardware id="11" type="driver">
      <limit lower="-3.1067" upper="3.1067" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_6" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link5" />
    <child link="AR5-5_07R-W4C4A2_link6" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="0 1 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
    <hardware id="12" type="driver">
      <limit lower="-1.0472" upper="1.0472" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_joint_7" type="revolute">
    <parent link="AR5-5_07R-W4C4A2_link6" />
    <child link="AR5-5_07R-W4C4A2_link7" />
    <limit effort="19" lower="-1.0472" upper="1.0472" velocity="4.1887902047863905" />
    <axis xyz="1 0 0" />
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.0" />
    <hardware id="13" type="driver">
      <limit lower="-1.0472" upper="1.0472" vel="4.1887902047863905" acc="10" jerk="150" effort="19" />
      <transform ratio="1" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1" user_unit_name="rad" />
      <inputs>
        <status_word>Status word</status_word>
        <position_actual_value>Position actual value</position_actual_value>
        <velocity_actual_value>Velocity actual value</velocity_actual_value>
        <torque_actual_value>Torque actual value</torque_actual_value>
        <load_torque_value>Analog Input 1</load_torque_value>
        <secondary_position_value>Auxiliary position actual value</secondary_position_value>
      </inputs>
      <outputs>
        <control_word>Control word</control_word>
        <mode_of_operation>Mode of operation</mode_of_operation>
        <target_position>Target Position</target_position>
        <target_velocity>Target Velocity</target_velocity>
        <target_torque>Target Torque</target_torque>
      </outputs>
    </hardware>
  </joint>
  <joint name="AR5-5_07R-W4C4A2_flan_joint" type="fixed">
    <parent link="AR5-5_07R-W4C4A2_link7" />
    <child link="AR5-5_07R-W4C4A2_flan_link" />
    <origin rpy="0 0 0" xyz="0 0 0.097" />
  </joint>
</robot>